.button-group {
  margin-bottom: 1rem;
}

.button-group__ul {
  margin-top: 0.5rem;
}

.button-group__li {
  display: inline;
}

.button-group__button {
  background: var(--blue);
  color: white;
  border-right: 1px solid;
  padding: 0.25rem 0.75rem;
}

.button-group__button[aria-pressed] {
  background: var(--gray);
  color: var(--blue);
}

.button-group__li:first-child .button-group__button {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.button-group__li:last-child .button-group__button {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}