.search-result {
  position: relative;
  transition: 150ms ease-in-out opacity;
}

.search-result:hover {
  opacity: 0.5;
}

.search-result .search-result__shift {
  transition: 150ms ease-in-out transform;
}
.search-result:hover .search-result__shift {
  transform: translateX(0.5rem);
}

.search-result a::after {
  content: ' ';
  position: absolute;
  inset: 0;
}