@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-display: swap;
  font-weight: 300 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/rubik:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

html {
  font-size: 20px;
  --green: hsl(73, 96%, 38%);
  --blue: hsl(190, 60%, 19%);
  --gray-dark: hsl(188, 12%, 36%);
  --gray: hsl(180, 5%, 89%);
  --blackish: hsl(0, 0%, 20%);
  --overlay: hsl(180, 5%, 89%, 0.95);
  --bold: 700;
  --semi: 500;
}

.lucide {
  display: inline;
}

.fadable {
  transition: 0.3s ease-in-out opacity;
}

.fadable.faded {
  opacity: 0;
  pointer-events: none;
}